# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

[Dd]ebug/
[Rr]elease/
[Oo]bj/
[Pp]ackages/

!CPPDemos/[Dd]ebug/
!CPPDemos/[[Rr]elease/

!CSharpDemos/3rdparty/openssl-1.1.0/lib*/*.lib
CSharpDemos/.vs/